<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.resiliencesoftflashlight.android"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk 
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

   <!--  <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" /> -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.flash"/>
    

    <application
       android:allowBackup="true"
        android:icon="@drawable/launcher"
         android:logo="@drawable/launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name="com.resiliencesoftflashlight.android.FlashLightActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>